/* styles.css or App.css */
@font-face {
    font-family: 'garet';
    src: url('../../assets/fonts/garet-cufonfonts/Garet-Book.otf') format('otf');
    /* Add more src lines for different font file formats if necessary */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'telegraf';
    src: url('../../assets/fonts/PPTelegraf-Free/PPTelegraf-Regular.otf') format('otf');
    /* Add more src lines for different font file formats if necessary */
    font-weight: normal;
    font-style: normal;
}

/* Apply the font to a CSS class or element */
.text {
    font-family: 'garet', sans-serif;
    text-align: center;
    color: white;
    font-size: 22.5;
}

.header {
    font-family: 'telegraf', sans-serif;
    text-align: center;
    color: white;
    font-size: 9000;
}

.image {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 494;
    width: 1090;
}

.body {
    background-color: black;
    overflow: hidden;
}

.button {
    font-family: 'garet', sans-serif;
    text-align: center;
    color: yellow;
    background-color: black;
    border-color: yellow;
}

.buttoncont {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
}